@use '../../theme/colors.module.scss' as colors;

.nav_item {
    color: white;
    font-weight: 700;
}

.nav_item_wrapper {
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    font-weight: 900;
    &:hover {
        background-color: colors.$blue-secondary;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
}
