$main-content: #e5e5e5;
$blue-primary: #002034;
$blue-secondary: #00587c;
$blue-accent: #006491;
$blue-title: #202123;

.main_content {
    color: $main-content;
}

.blue_primary {
    color: $blue-primary;
}

.blue_secondary {
    color: $blue-secondary;
}

.blue_accent {
    color: $blue-accent;
}

.blue_title {
    color: $blue-title;
}
