@use './theme/colors.module.scss' as colors;

@font-face {
    font-family: 'One Dot';
    src: url('fonts/OneDot-BoldItalic.woff2') format('woff2'),
        url('fonts/OneDot-BoldItalic.woff') format('woff'),
        url('fonts/OneDot-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot';
    src: url('fonts/OneDot-Bold.woff2') format('woff2'),
        url('fonts/OneDot-Bold.woff') format('woff'),
        url('fonts/OneDot-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot';
    src: url('fonts/OneDot-Italic.woff2') format('woff2'),
        url('fonts/OneDot-Italic.woff') format('woff'),
        url('fonts/OneDot-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot';
    src: url('fonts/OneDotLight.woff2') format('woff2'),
        url('fonts/OneDotLight.woff') format('woff'),
        url('fonts/OneDotLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot';
    src: url('fonts/OneDotLight-Italic.woff2') format('woff2'),
        url('fonts/OneDotLight-Italic.woff') format('woff'),
        url('fonts/OneDotLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot Cd';
    src: url('fonts/OneDotCd-Bold.woff2') format('woff2'),
        url('fonts/OneDotCd-Bold.woff') format('woff'),
        url('fonts/OneDotCd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot';
    src: url('fonts/OneDot.woff2') format('woff2'), url('fonts/OneDot.woff') format('woff'),
        url('fonts/OneDot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot CdLt';
    src: url('fonts/OneDotCdLt.woff2') format('woff2'), url('fonts/OneDotCdLt.woff') format('woff'),
        url('fonts/OneDotCdLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot Cd';
    src: url('fonts/OneDotCd-Italic.woff2') format('woff2'),
        url('fonts/OneDotCd-Italic.woff') format('woff'),
        url('fonts/OneDotCd-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot Cd';
    src: url('fonts/OneDotCd-BoldItalic.woff2') format('woff2'),
        url('fonts/OneDotCd-BoldItalic.woff') format('woff'),
        url('fonts/OneDotCd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot Cd';
    src: url('fonts/OneDotCd.woff2') format('woff2'), url('fonts/OneDotCd.woff') format('woff'),
        url('fonts/OneDotCd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot Ext';
    src: url('fonts/OneDotExt-Italic.woff2') format('woff2'),
        url('fonts/OneDotExt-Italic.woff') format('woff'),
        url('fonts/OneDotExt-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot CdLt';
    src: url('fonts/OneDotCdLt-Italic.woff2') format('woff2'),
        url('fonts/OneDotCdLt-Italic.woff') format('woff'),
        url('fonts/OneDotCdLt-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot ExtLt';
    src: url('fonts/OneDotExtLt.woff2') format('woff2'),
        url('fonts/OneDotExtLt.woff') format('woff'),
        url('fonts/OneDotExtLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot Ext';
    src: url('fonts/OneDotExt-BoldItalic.woff2') format('woff2'),
        url('fonts/OneDotExt-BoldItalic.woff') format('woff'),
        url('fonts/OneDotExt-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot Ext';
    src: url('fonts/OneDotExt-Bold.woff2') format('woff2'),
        url('fonts/OneDotExt-Bold.woff') format('woff'),
        url('fonts/OneDotExt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot ExtLt';
    src: url('fonts/OneDotExtLt-Italic.woff2') format('woff2'),
        url('fonts/OneDotExtLt-Italic.woff') format('woff'),
        url('fonts/OneDotExtLt-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'One Dot Ext';
    src: url('fonts/OneDotExt.woff2') format('woff2'), url('fonts/OneDotExt.woff') format('woff'),
        url('fonts/OneDotExt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Two Dots';
    src: url('fonts/TwoDotsBlack.woff2') format('woff2'),
        url('fonts/TwoDotsBlack.woff') format('woff'),
        url('fonts/TwoDotsBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Two Dots';
    src: url('fonts/TwoDotsBlack-Italic.woff2') format('woff2'),
        url('fonts/TwoDotsBlack-Italic.woff') format('woff'),
        url('fonts/TwoDotsBlack-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Two Dots';
    src: url('fonts/TwoDots.woff2') format('woff2'), url('fonts/TwoDots.woff') format('woff'),
        url('fonts/TwoDots.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Two Dots';
    src: url('fonts/TwoDots-Italic.woff2') format('woff2'),
        url('fonts/TwoDots-Italic.woff') format('woff'),
        url('fonts/TwoDots-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Two Dots';
    src: url('fonts/TwoDots-BoldItalic.woff2') format('woff2'),
        url('fonts/TwoDots-BoldItalic.woff') format('woff'),
        url('fonts/TwoDots-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Two Dots';
    src: url('fonts/TwoDots-Bold.woff2') format('woff2'),
        url('fonts/TwoDots-Bold.woff') format('woff'),
        url('fonts/TwoDots-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'One Dot', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
